In [1]:
import os
import pandas as pd

In [38]:
polldata = pd.read_csv("election_data_1.csv")
polldata.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [19]:
totalvotes = polldata["Candidate"].value_counts()
totalvotes

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64

In [42]:
idx = [0,1,2,3]
summary_table = pd.DataFrame(index=idx, data=(totalvotes))
summary_table

   Candidate
0        NaN
1        NaN
2        NaN
3        NaN

In [22]:
sumvotes = polldata["Voter ID"].nunique()
sumvotes

803000

In [23]:
percentages = (totalvotes / sumvotes)
percentages

Vestal    0.48
Torres    0.44
Seth      0.05
Cordin    0.03
Name: Candidate, dtype: float64

In [33]:
summary_table2 = pd.DataFrame({"Percentage" : (percentages*100), "Total Votes" : totalvotes})
summary_table2

        Percentage  Total Votes
Vestal        48.0       385440
Torres        44.0       353320
Seth           5.0        40150
Cordin         3.0        24090

In [39]:
winner = summary_table2["Total Votes"].idxmax()
winner

'Vestal'

In [37]:
print("Election Results")
print("---------------------")
print("Total Votes: " + str(sumvotes))
print("---------------------")
print()

Election Results
---------------------
Total Votes: 803000
---------------------
        Percentage  Total Votes
Vestal        48.0       385440
Torres        44.0       353320
Seth           5.0        40150
Cordin         3.0        24090