In [1]:
import os
import pandas as pd

In [4]:
polldata = pd.read_csv("election_data_1.csv")
polldata.describe()

           Voter ID
count  8.030000e+05
mean   1.500181e+06
std    2.887343e+05
min    1.000000e+06
25%    1.250230e+06
50%    1.500102e+06
75%    1.750438e+06
max    1.999999e+06

In [19]:
totalvotes = polldata["Candidate"].value_counts()
totalvotes

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64

In [16]:
summary_table = pd.DataFrame(totalvotes)
summary_table

        Candidate
Vestal     385440
Torres     353320
Seth        40150
Cordin      24090

In [22]:
sumvotes = polldata["Voter ID"].nunique()
sumvotes

803000

In [23]:
percentages = (totalvotes / sumvotes)
percentages

Vestal    0.48
Torres    0.44
Seth      0.05
Cordin    0.03
Name: Candidate, dtype: float64

In [33]:
summary_table2 = pd.DataFrame({"Percentage" : (percentages*100), "Total Votes" : totalvotes})
summary_table2

        Percentage  Total Votes
Vestal        48.0       385440
Torres        44.0       353320
Seth           5.0        40150
Cordin         3.0        24090

In [37]:
print("Election Results")
print("---------------------")
print("Total Votes: " + str(sumvotes))
print("---------------------")
print(summary_table2)
print("Winner" + summary_table2.iloc[])

Election Results
---------------------
Total Votes: 803000
---------------------
        Percentage  Total Votes
Vestal        48.0       385440
Torres        44.0       353320
Seth           5.0        40150
Cordin         3.0        24090